@model HotelManagement.Models.Booking

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UniqueId" />
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedCheckIn" class="control-label"></label>
                <input asp-for="ExpectedCheckIn" class="form-control" />
                <span asp-validation-for="ExpectedCheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedCheckOut" class="control-label"></label>
                <input asp-for="ExpectedCheckOut" class="form-control" />
                <span asp-validation-for="ExpectedCheckOut" class="text-danger"></span>
            </div>

          
            <div class="form-group">
                <label asp-for="BookingAmt" class="control-label"></label>
                <input asp-for="BookingAmt" class="form-control" />
                <span asp-validation-for="BookingAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceAmt" class="control-label"></label>
                <input asp-for="BalanceAmt" class="form-control" />
                <span asp-validation-for="BalanceAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedDate" class="control-label"></label>
                <input asp-for="LastUpdatedDate" class="form-control" />
                <span asp-validation-for="LastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
